body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 75vh;
    height: auto;
    border: 1px solid black;
}

#grid > div {
    flex: 1 0 calc(100% / 16);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}